- var site = "http://storymate.net"
- var app_root = "/storymate/client/app";
- var title = "Storymate";
- var title_image = site+app_root+"/assets/img/logo.png";
- var description = "Storymate";
